/venv_yolov5/*
!/yolov5/setup.cfg
!/yolov5/cfg/yolov3*.cfg
/yolov5/runs/*
/yolov5/data/*
/yolov5/data/images/*
!/yolov5/data/*.yaml
!/yolov5/data/hyps
!/yolov5/data/scripts
!/yolov5/data/images
!/yolov5/data/images/zidane.jpg
!/yolov5/data/images/bus.jpg
!/yolov5/data/*.sh
/yolov5/wandb/*
results*.csv
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json
*.cfg

*.weights
*.pt
*.pb
*.onnx
*.engine
*.mlmodel
*.torchscript
*.tflite
*.h5
*_saved_model/
*_web_model/
*_openvino_model/
darknet53.conv.74
yolov3-tiny.conv.15
